{% extends 'base.html.twig' %}

{% block title %}Change user{% endblock %}

{% block body %}
<form action="{{ path('changeing_user', {'id': user.id}) }}" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="PUT">

    <input name="first_name" placeholder="Имя" value="{{ user.firstname }}" required> <br>
    <input name="last_name" placeholder="Фамилия"value="{{ user.lastname }}" required> <br>
    <input name="age" type="number" placeholder="Возраст" value="{{ user.age }}" required> <br>
    <input name="status" placeholder="Статус" value="{{ user.status }}" required> <br>
    <input name="email" placeholder="Почта"value="{{ user.email }}" required> <br>
    <input name="telegram" placeholder="@telegram" value="{{ user.telegram }}"> <br>
    <input name="addres" placeholder="Адрес" value="{{ user.addres }}" required> <br>

    <select name="department">
        {% for department in departments %}
            <option value="{{ department.id }}"> {{ department.name }} </option>
        {% endfor %}
    </select> <br>

    <input name="avatar" type="file" accept="image/*"> <br>

    <input type="submit" value="Сохронить"> <br>

    {% for error in errors|default([]) %}
        {{error}} <br>
    {% endfor %}
</form>
{% endblock %}
