{% extends 'base.html.twig' %}

{% block title %}Show users{% endblock %}

{% block body %}

    <form action="{{ path('app_user') }}" method="GET">
        <input placeholder="Поиск" name="soughtAfter">

        <input type="submit" value="Найти / Сортировать"> <br>

        <select name="sortType">
            <option value="ASC" {% if app.request.get('sortType') == 'ASC' %}selected{% endif %}> По возрастанию </option>
            <option value="DESC" {% if app.request.get('sortType') == 'DESC' %}selected{% endif %}> По убыванию </option>
        </select>

        <select name="sortable">
            <option value="request.first_name" {% if app.request.get('sortable') == 'request.first_name' %}selected{% endif %}>Имя</option>
            <option value="request.last_name" {% if app.request.get('sortable') == 'request.last_name' %}selected{% endif %}>Фамилия</option>
            <option value="request.age" {% if app.request.get('sortable') == 'request.age' %}selected{% endif %}>Возраст</option>
            <option value="request.status" {% if app.request.get('sortable') == 'request.status' %}selected{% endif %}>Статус</option>
            <option value="request.email" {% if app.request.get('sortable') == 'request.email' %}selected{% endif %}>Почта</option>
            <option value="request.addres" {% if app.request.get('sortable') == 'request.addres' %}selected{% endif %}>Адрес</option>
            <option value="request.telegram" {% if app.request.get('sortable') == 'request.telegram' %}selected{% endif %}>Telegram</option>
            <option value="department.name" {% if app.request.get('sortable') == 'department.name' %}selected{% endif %}>Отдел</option>
        </select>
    </form>

    <br>

    <table class="table_users">
        <thead>
            <tr>
                <th>Аватар</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Возраст</th>
                <th>Статус</th>
                <th>Почта</th>
                <th>Телеграмм</th>
                <th>Адрес</th>
                <th>Отдел</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {% if user.avatar is defined and user.avatar is not empty %}
                        <img src="{{ asset(user.avatar) }}" style="width: 50px; height: 50px; object-fit: cover;">
                    {% else %}
                        <img src="notFound">
                    {% endif %}
                </td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.status }}</td>
                <td>{{ user.email }}</td>

                <td>
                    {% if user.telegram is empty %}
                        Телегамма нет
                    {% else %}
                        {{ user.telegram }}
                    {% endif %}
                </td>

                <td>{{ user.addres }}</td>

                <td>
                    {% if user.department.name is empty %}
                        Отдел не назначен
                    {% else %}
                        {{ user.department.name }}
                    {% endif %}
                </td>

                <td><a href="{{ path('change_user_form', {'id': user.id}) }}">edit</a> </td>

                <td><form action="{{ path('delete_user', {'id': user.id }) }}" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="Удалить">
                </form></td>
            </tr>
        {% else %}
            <tr> <td colspan="7">Нет записей</td> </tr>
        {% endfor %}
        <tr> 
            <td> <form action="{{ path('create_user') }}" method="GET">
                <input type="submit" value="Создать">
            </form> </td> 
        </tr>
        </tbody>
    </table>


{% endblock %}
